:root {
    --main-color  : #437281;
    --second-color: #eee ;
}

body {

    background: var(--second-color);
}
.main-nav{
    color: #fff;
    background: var(--main-color) ;
    width: 240px;
    height: 100%;
    position: fixed;
    left: 0;
    z-index: 1;
    & h1{
        font-size: 50px;
    }
}
.list_bg {
    background: #437281;
}
.main-ul{
    padding-inline: 10px;
    .main-li{
        letter-spacing: 1px;
        width: 100%;
        padding-block: 20px;
        padding-inline: 15px;
        & a{
            display: block;
            width: 100%;
            font-size: 16px;
            color: #fff;
            text-decoration: none;
            & i{
                font-size: 20px;
            }
        }
    }
}
.list_fiexd{
    position: fixed;
}
.main-li:hover{
    background:#335661 ;
}
.list-unstyle{
    list-style: none;
}
.main-top{
    width: 100%;
    position: sticky;
    top: 0;
    height: 50px;
    background: #fff;
    & a{
        position: absolute;
        right: 35px;
        text-decoration: none;
        color: var(--main-color);
        font-size: 16px;
        line-height: 50px;
        font-weight:bold ;
        & i{
            margin-right: 10px;
        }
    }
}
.btn{
    color: var(--main-color);
    border: 1px solid var(--main-color);
}
.btn:hover{
    background: var(--main-color);
    color: #fff;
}
