/* Global */
:root {
    --main-color-: #437281;
    --hover-color-: #51899C;
    --sidebar-with-: 240px;
}

body {
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    font-size: 14px;
    color: var(--main-color-);
    /* 不讓多餘的畫面造成滾動 */
}

ul {
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
}

input {
    color: var(--main-color-);
}

.text-main-color{
    color: var(--main-color-);    
}

.btn {
    font-size: 14px;
    color: var(--main-color-);
    border: 1px solid #ccc;

    &:hover {
        color: #fff;
        background-color: var(--main-color-);
    }
}

.object-fit {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/* header */
header {
    width: 100%;
    height: 50px;
    background: #fff;
    box-shadow: 0 2px 10px #ccc;
    position: relative;
    z-index: 1;

    & .logo {
        margin-right: 35px;

        & a {
            color: var(--main-color-);
            font-size: 16px;
            line-height: 50px;
            font-weight: bold;
        }
    }
}

.sidebar {
    width: var(--sidebar-with-);
    height: 100%;
    background-color: var(--main-color-);
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;

    & h1 {
        font-size: 50px;
    }

}

.main-li {
    padding-inline: 0px;
    letter-spacing: 1px;
    width: 100%;

    &:hover {
        background: #335661;
    }

    & a {
        display: block;
        padding-left: 60px;
        padding-block: 20px;
        font-size: 16px;
        color: #fff;
        text-decoration: none;

        & i {
            margin-right: 10px;
            font-size: 20px;

        }
    }
}

.right-content {
    width: calc(100% - var(--sidebar-with-));
    height: 100%;
    position: absolute;
    top: 0;
    right: 0;
    overflow-y: auto;

    >.body {
        padding: 50px 20px 0;
        position: relative;

        >.breadcrumb {
            margin-top: 20px;
            color: var(--main-color-);
            >a:hover{
                color: var(--hover-color-);
            }
        }
    }
}

.list-box {
    width: 100%;
    border: 1px solid #ccc;
    border-radius: 4px;

    >.list-action {
        padding: 8px 14px;
        border-bottom: 1px solid #ccc;
        overflow: hidden;
    }

    >.scroll-x {
        width: 100%;
        overflow-x: auto;
    }
}

.search-box {
    margin-left: 16px;
    display: flex;
    justify-content: center;
    align-items: center;

    & .search-btn {
        padding: 4px 10px;
    }

    & .search {
        padding: 4px 8px;
        border: 1px solid #ccc;
        border-radius: 4px;

        &:focus-visible {
            outline: none;
        }

        &::placeholder {
            color: var(--main-color-);
            opacity: .8;
        }
    }
}

.table {
    min-width: 960px;
    width: 100%;
    margin-bottom: 0;

    >thead {
        & .selectAll {
            width: 5%;
        }

        & .img {
            width: 15%;
        }

        & .name {
            width: 15%;
        }

        & .price {
            width: 10%;
        }

        & .status {
            width: 10%;
        }

        & .created-at {
            width: 10%;
        }

        & .edit-box {
            width: 15%;
        }
    }

    & td {
        vertical-align: middle;
    }
}


.table>:not(caption)>*>* {
    color: var(--main-color-);
}

.page {
    margin: 20px 0;
    & a{
        padding: 6px 12px;
    }
    & .page-item{
        padding: 0;
    }
}


/* php style */
.active {
    color: var(--main-color-);
}

.page-active{
    color: #fff;
    background-color: var(--main-color-);
}

.inactive {
    color: #ccc;
}